@import '../../styles/variables.scss';

.skill {
  > h5 {
    font-size: 2.5rem;

    span {
      color: $primary-500;
    }
  }

  .techs_container {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    > p {
      width: 50%;
      font-size: 1.3rem;
      color: $text-gray-400;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .card_container {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      @media (max-width: 768px) {
        width: 100%;
        padding: 2rem 0;
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 30%;
        flex-grow: 1;
        height: 130px;
        background-color: #000;
        position: relative;
        border: 1px solid #000;
        z-index: 9;
        transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s,
          transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;

        @media (max-width: 768px) {
          width: 40%;
        }

        > span {
          left: 50%;
          height: auto;
          position: absolute;
          padding: 5px;
          transform: translate(-50%, 0%);
          background-color: #040405;
          width: 125px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          display: none;
          font-size: 1.2rem;
          top: -20px;
          transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s,
            transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;

          @media (max-width: 768px) {
            top: -30px;
          }
        }

        &:hover {
          border: 1px solid $primary-500;

          span {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
