$border-500: #171718;

$text-white-500: #ebebeb;

$text-gray-500: #8f9ba8;
$text-gray-400: #d4d4d4;

$primary-gradient: linear-gradient(to right, #56ccf2, #2f80ed);

$primary-900: #2f80ed;
$primary-500: #56ccf2;
