@import '../../styles';

.header {
  width: 100%;
  border: 1px solid $border-500;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: $black-900;

  svg {
    transition: filter, 0.5s;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }

  section {
    width: 100%;
    max-width: 77rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop_menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
