@import '../../styles';

.about {
  display: flex;
  align-items: center;
  gap: 3rem;

  @media (max-width: 48rem) {
    flex-direction: column;
  }

  > div {
    width: 100%;
  }

  .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s all ease;
    height: 25rem;

    img {
      width: 31.25rem;
      object-fit: cover;
    }

    @media (max-width: 48rem) {
      height: 12.5rem;

      img {
        width: 25rem;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    .tech_icon {
      position: absolute;
      border-radius: 0.25rem;
      width: 4.5rem;
      height: 4.5rem;
      animation: icon-move 3s ease 2.9s infinite alternate;
    }

    .first_icon {
      top: 3.125rem;
      left: 12.5rem;

      @media (max-width: 48rem) {
        left: 3.125rem;
      }
    }

    .second_icon {
      bottom: 0rem;
      left: 6.25rem;

      @media (max-width: 48rem) {
        left: 3.125rem;
      }
    }

    .third_icon {
      top: 6.25rem;
      right: 5.625rem;

      @media (max-width: 48rem) {
        right: 1.875rem;
      }
    }

    @media (max-width: 48rem) {
    }

    @keyframes icon-move {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(0.625rem, -2.5rem, 0);
      }
    }
  }

  .text_container {
    p {
      font-size: $text-lg;
      line-height: 1.8rem;
      color: $text-gray-400;
      margin: 0;
    }
  }
}
