$border-500: #171718;

$black-900: #000000;
$black-800: #0e0e0e;
$black-700: #040405;
$black-600: #161b22;
$black-500: #09090b;

$white-900: #ffffff;

$text-white-500: #ebebeb;

$text-gray-500: #8f9ba8;
$text-gray-400: #d4d4d4;

$primary-900: #2f80ed;
$primary-500: #56ccf2;

$green-900: #25d366;

$primary-gradient: linear-gradient(to right, #56ccf2, #2f80ed);
